* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-heading {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: #00c6ff;
}
