.details-container {
  min-height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.main-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.UserDetailscard {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(255, 253, 253);
}

.card-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.detail-item {
  margin-bottom: 15px;
  font-size: 17px;
  color: #fff;
}
